* {
  /* border: 1px solid red; */
  margin: 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E5E4E2;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 70px;
}

.calc-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #C0C0C0;
  border: 2px solid black;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 115px;
  width: 360px;
  background-color: #E5E4E2;
  border: 2px solid black;
  padding-right: 25px;
  padding-bottom: 20px;
}

.calculation-display {
  display: flex;
  font-size: 14px;
  margin-top: 15px;
}

.current-number {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 28px;
  max-width: 360px;
}

.button-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row-1 {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa8072;
  border: 2px solid black;
  width: 180px;
  height: 65px;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9c89ff;
  border: 2px solid black;
  width: 180px;
  height: 65px;
}

.row-2 {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.row-3 {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.row-4 {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.row-5 {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E4E2;
  border: 2px solid black;
  height: 65px;
  width: 85px;
}

#divide,
#multiply, 
#subtract,
#plus {
  background-color: #EE9F27;
}

#divide:hover,
#multiply:hover, 
#subtract:hover,
#plus:hover {
  background-color: #be7f1f;
}

.clear:hover {
  background-color: #c8665b;
}

.delete:hover {
  background-color: #7d6ecc;
}

.button:hover {
  background-color: #b7b6b5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-bottom: 15px;
  font-size: 18px;
}

h2 {
  margin: 3px;
}